<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FundosInvestimento.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>69A4AB951EBF8CA30037064F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69A4ABA91EBF8CA30037064F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69A4ABB41EBF8CA30037064F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
